<div id="admin_articles">
  <%= render 'admin/shared/flash_messages' %>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3><%= @article.title %></h3>
  </div>
  <div>
    <h5>Abstract</h5>
    <p><%= @article.abstract %></p>
  </div>
  <div>
    <h5>Table of content</h5>
    <p><%= raw @article.body_toc %></p>
  </div>
  <div>
    <%= raw @article.body_html %>
  </div>
  <div>
    <%= link_to @article.category.name, admin_category_path(@article.category) %>
  </div>
</div>
