<header class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Simple Blog', admin_login? ? admin_root_path : root_path, class: 'navbar-brand' %>

  <% if admin_login? %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= active_class 'dashboard' %>">
          <%= link_to 'Dashboard', admin_root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= active_class 'tag_groups' %>">
          <%= link_to 'Tag groups', admin_tag_groups_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= active_class 'tags' %>">
          <%= link_to 'Tags', admin_tags_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= active_class 'categories' %>">
          <%= link_to 'Categories', admin_categories_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= active_class 'articles' %>">
          <%= link_to 'Articles', admin_articles_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Logout", admin_logout_path, method: :delete, class: 'nav-link' %>        
        </li>
      </ul>
    </div>
  <% end %>
</header>
